@import '../themes/default.scss';
@import '../variables/variables.scss';

label {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

input {
  height: $input-height;
  font-family: inherit;
}

button {
  height: $button-height;
  color: $text;
  background-color: $darken-background;
  padding: 16px;
  border: 2px solid $text;
  font-size: 14px;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 2px 5px 0 rgba($text, 0.5);
  user-select: none;
  outline: none;

  &:hover {
    background: $background;
  }
}
