@import '../variables/colors.scss';

// Main
$background: $white;
$darken-background: darken($white, 8%);
$negative-background: $dark-gray;
$text: $dark-gray;
$negative-text: $white;
$disabled: $gray;

// Pattern
$pattern-background: $dark-gray;
$pattern-circle: $white;
$pattern-line: $white;
$pattern-fail: $red;
$pattern-success: $green;
